<launch>
  <!-- RViz / fake controller preview only -->
  <include file="$(find panda_moveit_config)/launch/demo.launch">
    <arg name="load_gripper" value="false"/>
  </include>

  <node pkg="panda_lung_scan_noetic"
        type="scan_moveit_real"
        name="scan_moveit_real"
        output="screen">
    <rosparam command="load" file="$(find panda_lung_scan_noetic)/config/lung_scan.yaml"/>
    <param name="contact_offset" value="0.0"/>
  </node>
</launch>